.restaurants__header.container
  = render partial: "/restaurants/header"
.order.container
  .order__map__row.row
    .order__map__col.col-md-12
      #map-canvas
  .order__delivery__info__row.row
    .order__delivery__info__col.col-md-10.col-md-offset-2
      .order__delivery__status
        %ul
          %li.status__sign
            = fa_icon("cc-amex 3x")
          %li ご依頼を承りました。
      .order__delivery__status
        %ul
          %li.status__sign
            = fa_icon("cutlery 3x")
          %li お料理を準備中です。
      .order__delivery__status
        %ul
          %li.status__sign
            = fa_icon("car 3x")
            %li 配達中です。
      .order__delivery__status3
        %ul
          %li.complete__sign
            = fa_icon("thumbs-up 3x")
          %li ご注文の商品が到着します。どうぞお召し上がりください。
  =link_to "/restaurants" do
    .driver__info
      .driver__info__title
        Uber Driver
      .driver__info__photo
        =image_tag "https://s3-ap-northeast-1.amazonaws.com/jawsome/uploads/restaurant/image/edit-31630-1416103694-7.jpg", class: "driver__photo"
      .driver__info__name
        Name: Travis Kalanick
      .driver__info__review
        Review 4.5


