.restaurants__header.container
  = render partial: "/restaurants/header"
.order.container
  .order__map__row.row
    .order__map__col.col-md-12
      #map-canvas
  .order__delivery__info__row.row
    .order__delivery__info__col.col-md-10.col-md-offset-2
      .order__delivery__status
        %ul
          %li.status__sign
            = fa_icon("cc-amex 3x")
          %li ご依頼を承りました。
      .order__delivery__status
        %ul
          %li.status__sign
            = fa_icon("cutlery 3x")
          %li お料理を準備中です。
      .order__delivery__status
        %ul
          %li.status__sign
            = fa_icon("car 3x")
            %li 配達中です。
      .order__delivery__status3
        %ul
          %li.complete__sign
            = fa_icon("thumbs-up 3x")
          %li ご注文の商品が到着します。どうぞお召し上がりください。
  .driver__info
    .driver__info__title
      Uber Driver
    .driver__info__photo
      =image_tag "https://s3-ap-northeast-1.amazonaws.com/jawsome/uploads/restaurant/image/edit-31630-1416103694-7.jpg", class: "driver__photo"
    .driver__info__name
      Name: Travis Kalanick
    .driver__info__review
      Review 4.5
    .driver__info__review__link
      %a{"data-target" => "#exampleModal", "data-toggle" => "modal", role: "button", class: "review__writer"}
        レビューを書く
      #exampleModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1" }
        .modal-dialog{ role: "document" }
          .modal__review.container.center-block
            .modal__review__row.row
              .modal__review__col.col-md-8
                .modal__review__title
                  %h5.review__title ドライバーの評価をしよう
                .modal__review__driver__name
                  %h5.review__driver__name ドライバー: Travis Kalanick
                .modal__review__rate
                .modal__review__form
                  =form_for @review do |f|
                    .form-group
                      =f.label :レビュー
                      =f.text_area :review,class: "form-control"
                    .form_group
                      =f.label :評価
                      =f.number_field :rate, max: 5, min: 1, class: "rate"
                    .modal__review__footer
                      =f.submit "レビューを送る", class: "btn btn-success btn-lg btn-block"
                      %button.btn.btn-success.btn-lg.btn-block{ "data-dismiss" => "modal", type: "button" } 閉じる
