%h2
  = @name
  様
%p
  ご注文していただいた商品が、あと1時間ほどで到着いたします。(交通状況により前後する可能性があります。)
%br
%h3
  注文内容
%ul.mail__content
  %li 商品名: #{@item}
  %li お支払い金額: #{@price} 円
  %li お届け日時: #{@time.strftime("%Y年%m月%d日 %H時%M分")}
  %li お届け先: #{@address}
%p
  この度は、Uber Eats Cateringサービスをご利用いただきありがとうございました。
%br
  #{@item}と共に楽しいひと時をお過ごしください。
%br
%p
  ご不明な点がございましたら、<a href="https://help.uber.com/ja_JP/h/d18a8516-9bf1-44ee-97aa-3e149b2ace3f">カスタマーサポート</a>にご連絡ください。
